@charset "utf-8";
/* CSS Document */

.panel{
	padding:10px;
	border:#CCC;
	border:1px solid #CCC;	
	width:80%;
	margin: 0 auto;
}

.header{
	text-align:left;
	height:auto;
	border-bottom:1px solid #CCC;
	width:100%;
	padding-bottom:10px;
}

.title{
	display:inline-block;	
	padding-right:10px;
}

.form-search{
		display:inline-block;
}

.cuerpo{
	position:absolute;
	width: 100%;
	top: 10%;
}
.cuadrado{
	background-color: blue;
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;

}
body{
	width:100%;
}